{% extends "base.html" %}

{% load breadcrumbs %}

{% block title %}Password change{% endblock %}

{% block head %}
    <style type="text/css">
        .status_icon {
            display: block;
            margin-bottom: 2em;
        }
    </style>
{% endblock %}

{% block main_content_class %}center-small-content fc{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Home" %}
    {% breadcrumb "Password change" %}
{% endblock %}

{% block content %}
    <div class="content-module">
        <div class="content-module-main cf">
            <img class="fc status_icon" src="{{ STATIC_URL }}img/icons/green_checkmark.png" />
            <p class="align-center">
                Password successfully changed!
            </p>
        </div>
    </div>
{% endblock %}
