{% extends "base.html" %}

{% load widget_tweaks %}
{% load breadcrumbs %}

{% block title %}Password reset{% endblock %}

{% block main_content_class %}center-small-content fc{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Home" %}
    {% breadcrumb "Password reset" %}
{% endblock %}

{% block content %}
    <div class="content-module">
        <div class="content-module-main cf">
            <p>
                Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
            </p>
            <form method="post" action="">
                {% csrf_token %}
                <div class="account-center">
                    {% if form.email.errors %}
                        <p class="form-error">
                        {% for error in form.email.errors %}
                            <em>{{ error|escape }}</em>
                        {% endfor %}
                    {% else %}
                        <p>
                    {% endif %}
                        {{ form.email.label_tag }}
                        {{ form.email|add_class:"round"|add_error_class:"error-input" }}
                        </p>
                        <input type="submit" value="Reset password" class="round blue ic-right-arrow" />
                </div>
            </form>
        </div>
    </div>
{% endblock %}
