{% extends "base.html" %}

{% load breadcrumbs %}

{% block title %}Password reset{% endblock %}

{% block main_content_class %}center-small-content fc{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Home" %}
    {% breadcrumb "Password reset" %}
{% endblock %}

{% block content %}
    <div class="content-module">
        <div class="content-module-main cf">
            <p>
                We have sent you an email with a link to reset your password. Please check your email and click the link to continue.
            </p>
        </div>
    </div>
{% endblock %}
