{% extends "base_menu.html" %}

{% load breadcrumbs %}
{% load pagination_tags %}

{% block title %}List properties{% endblock %}

{% block head %}
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Home" %}
    {% breadcrumb "Properties" %}
{% endblock %}

{% block content %}
    <div class="content-module">
        <div class="content-module-heading cf">
            <h3 class="fl">Properties</h3>

            <span class="fr expand-collapse-text">Click to collapse</span>
            <span class="fr expand-collapse-text initial-expand">Click to expand</span>
        </div>
        <div class="content-module-main">

            <p>{{ all_property_count }} total propert{{ property_list.count|pluralize:"y,ies" }} on {{ site.name }}.</p>

            {% autopaginate property_list 10 %}
            {% paginate %}
            <table>
                <thead>
                    <tr>
                        <th>name</th>
                        <th>type</th>
                        <th>tenant count</th>
                        <th>address</th>
                        <th>city</th>
                        <th>state</th>
                        <th>phone</th>
                        <th>website</th>
                        <th>added</th>
                    </tr>
                <thead>
                <tbody>
                {% if property_list %}
                    {% for property in property_list %}
                        <tr>
                            <td><a href="{% url 'property_detail' pk=property.pk %}">{{ property.name }}</a></td>
                            <td>{{ property.get_property_type_display|capfirst }}</td>
                            <td>{{ property.tenant_count }}</td>
                            <td>
                                {{ property.address_line_one }}
                                {% if property.address_line_two %}
                                    <br />{{ property.address_line_two }}
                                {% endif %}
                            </td>
                            <td>{{ property.city }}</td>
                            <td>{{ property.state }}</td>
                            <td>{{ property.phone }}</td>
                            <td>{{ property.website }}</td>
                            <td>{{ property.created|date:"DATE_FORMAT" }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan="9">There are no propertys.</td></tr>
                {% endif %}
                </tbody>
            </table>
            {% paginate %}
        </div>
    </div>
{% endblock %}
