{% extends "base.html" %}

{% block title %}Create order{% endblock %}

{% block head %}
    {% load dajaxice_templatetags %}
    {% dajaxice_js_import %}
    <script src="{{ STATIC_URL }}js/orders/create.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
    Create an order
    <br />

    <form action="" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div>
            {% if can_assign_creator %}
                {{ form.creator.errors }}
                <label for="id_creator">Creator:</label>
                {{ form.creator }}
            {% else %}
                <a href="{% url users_detail pk=request.user.pk %}">{{ request.user.get_full_name }}</a>
            {% endif %}
        </div>
        <div>
            {% if can_assign_creator %}
                {{ form.place.errors }}
                <label for="id_place">Property:</label>
                {{ form.place }}
            {% else %}
                <a href="{% url places_detail pk=request.user.profile.place.pk %}">{{ request.user.profile.place.name }}</a>
            {% endif %}
        </div>
        <div>
            {{ form.work_type.errors }}
            <label for="id_work_type">Category:</label>
            {{ form.work_type }}
        </div>
        <div>
            {{ form.comment.errors }}
            <label for="id_comment">A brief comment about the problem:</label><br />
            {{ form.comment }}
        </div>
        <input type="submit" value="Create order" />
    </form>
{% endblock %}
