{% extends "base.html" %}

{% block title %}List orders{% endblock %}

{% block content %}
<div class="content-module">
    <div class="content-module-heading cf">
        <h3 class="fl">Orders</h3>

        <span class="fr expand-collapse-text">Click to collapse</span>
        <span class="fr expand-collapse-text initial-expand">Click to expand</span>
    </div>
    <div class="content-module-main">
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}

        {{ all_orders_count }} total orders on Doors.<br />
        Your permission level results in {{ order_list.count|default:0 }} viewable order{{ order_list.count|pluralize }}.<br />
        <br />
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date created</th>
                    <th>Property</th>
                    <th>Creator</th>
                    <th>Approver</th>
                    <th>Status</th>
                    <th>Comments</th>
                    <th>Next step</th>
                </tr>
            <thead>
            <tbody>
            {% if order_list %}
                {% for order in order_list %}
                    <tr>
                        <td><a href="{% url orders_detail pk=order.pk %}">{{ order.pk }}</a></td>
                        <td>{{ order.created }}</td>
                        <td><a href="{% url places_detail pk=order.place.pk %}">{{ order.place }}</a></td>
                        <td><a href="{% url users_detail pk=order.creator.pk %}">{{ order.creator.get_full_name }}</a></td>
                        <td>
                            {% if order.approver %}
                                <a href="{% url users_detail pk=order.approver.pk %}">{{ order.approver.get_full_name }}</a>
                            {% else %}
                                Not assigned yet.
                            {% endif %}
                        </td>
                        <td>{{ order.get_status_display|capfirst }}</td>
                        <td>{{ order.comment_count }}</td>
                        <td>{{ order.next_step }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr><td colspan="7">There are no viewable orders.</td></tr>
            {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
