{% extends "base_menu.html" %}

{% load dajaxice_templatetags %}
{% load breadcrumbs %}
{% load widget_tweaks %}

{% block title %}Create order{% endblock %}

{% block head %}
    {% dajaxice_js_import %}
    <script src="{{ STATIC_URL }}js/orders/create.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block breadcrumbs %}
    {% breadcrumb_url "Home" %}
    {% breadcrumb_url "Orders" order_list %}
    {% breadcrumb "Create order" %}
{% endblock %}

{% block content %}
    <div class="content-module">
        <div class="content-module-main cf">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                {% if can_edit_creator %}
                    {% if form.creator.errors %}
                        <p class="form-error">
                        {% for error in form.creator.errors %}
                            <em>{{ error|escape }}</em>
                        {% endfor %}
                    {% else %}
                        <p>
                    {% endif %}
                    {{ form.creator.label_tag }}
                    {{ form.creator|attr:"onchange:Dajaxice.doors.order_create_creator_changed(fill_other_fields, {'creator_pk': this.options[this.selectedIndex].value})" }}
                {% else %}
                    <p>
                        Creator:
                        <input type="hidden" name="creator" value="{{ request.user.pk }}" />
                        <a href="{% url user_detail pk=request.user.pk %}">{{ request.user.get_full_name }}</a>
                {% endif %}
                </p>

                {% if can_edit_creator %}
                    {% if form.place.errors %}
                        <p class="form-error">
                        {% for error in form.place.errors %}
                            <em>{{ error|escape }}</em>
                        {% endfor %}
                    {% else %}
                        <p>
                    {% endif %}
                    <label for="id_place">Property</label>
                    {{ form.place }}
                {% else %}
                    <p>
                        Property
                        <input type="hidden" name="place" value="{{ request.user.profile.place.pk }}" />
                        <a href="{% url place_detail pk=request.user.profile.place.pk %}">{{ request.user.profile.place.name }}</a>
                {% endif %}
                </p>

                {% if form.work_type.errors %}
                    <p class="form-error">
                    {% for error in form.work_type.errors %}
                        <em>{{ error|escape }}</em>
                    {% endfor %}
                {% else %}
                    <p>
                {% endif %}
                    <label for="id_work_type">Category</label>
                    {{ form.work_type }}
                </p>

                <div class="stripe-separator"></div>

                {% if form.note.errors %}
                    <p class="form-error">
                    {% for error in form.note.errors %}
                        <em>{{ error|escape }}</em>
                    {% endfor %}
                {% else %}
                    <p>
                {% endif %}
                    <label for="id_note">A brief note</label>
                    {{ form.note|add_class:"round"|add_error_class:"error-input" }}
                </p>
                <input type="submit" value="Create order" class="round blue ic-right-arrow" />
            </form>
        </div>
    </div>
{% endblock %}
