{% extends "base.html" %}

{% block title %}View order #{{ order.id }}{% endblock %}

{% block content %}
Order #{{ order.id }}<br />
Work type: {{ order.get_work_type_display }}<br />
Created by {{ order.creator.get_full_name }}<br />
Created on {{ order.created }}<br />
Status: {{ order.get_status_display|capfirst }}<br />
Vendor:
    {% if order.vendor %}
        {{ order.vendor.name }}
    {% else %}
        Not assigned yet.
    {% endif %}<br />
Quote:
    {% if order.quote %}
        ${{ order.quote }}
    {% else %}
        No quote yet.
    {% endif %}<br />

Payment:
    {% if order.payment %}
        ${{ order.payment }}
    {% else %}
        Not paid yet.
    {% endif %}<br />
<br />
Steps:
<ul>
    {% if order.all_steps %}
        {% for step in order.all_steps %}
            <li>{{ step.0 }} - {{ forloop.counter }}: {{ step.1 }} </li>
        {% endfor %}
    {% else %}
        <li>There are no steps? Please report this bug.</li>
    {% endif %}
</ul>

Comments:
<ul>
    {% if order_comments %}
        {% for order_comment in order_comments %}
            <li>{{ order_comment.created }} - {{ order_comment.author.get_full_name }}: {{ order_comment.comment }} </li>
        {% endfor %}
    {% else %}
        <li>There are no comments.</li>
    {% endif %}
</ul>
{% endblock %}
