<html>
<head>
    <title>Doors - the property maintenance app - {% block title %}{% endblock %}</title>
</head>
<body>
    <ul>
        <li><a href="{% url order_create %}">Create an order</a></li>
        <li><a href="{% url order_all %}">View your orders</a></li>
    {% if user.is_authenticated %}
        <li>Welcome, {{ user.username }}. <a href="{% url auth_password_change %}">Change password</a> / <a href="{% url auth_logout %}">Log out</a></li>
    {% else %}
        <li><a href="{% url auth_login %}">Log in</a></li>
    {% endif %}
        <li><a href="{% url admin:index %}">Admin</a></li>
    </ul>

    {% block content %}
    {% endblock %}

</body>
</html>
