<!DOCTYPE HTML>
<html>
    <head>
        <title>Doors - the property maintenance app - {% block title %}{% endblock %}</title>

        <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui-1.8.19.custom.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ STATIC_URL }}js/jquery.scrollTo-1.4.2-min.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            if(typeof console === 'undefined') {
                console = {
                    log:  function() {},
                    warn: function() {},
                    info: function() {}
                }
            }

            function function_name(args) {
                return args.callee.toString().match(/function\s+.+\(.+\)/)[0]
            }

            $(document).ready(function() {
                // Figuring out which tab should be active.
                var url = '{{ request.path }}'
                if(url.match(/\/order\//)) {
                    $('#order-tab').addClass('active-tab')
                }
                else if(url.match(/\/user\//)) {
                    $('#user-tab').addClass('active-tab')
                }
                else if(url.match(/\/vendor\//)) {
                    $('#vendor-tab').addClass('active-tab')
                }
                else if(url.match(/\/place\//)) {
                    $('#place-tab').addClass('active-tab')
                }

                // Content boxes expand/collapse.
                $(".initial-expand").hide()
                $("div.content-module-heading").click(function() {
                    $(this).next("div.content-module-main").slideToggle()
                    $(this).children(".expand-collapse-text").toggle()
                })

                {% if focus %}
                    // Focus
                    $.scrollTo($('#{{ focus }}'))
                    $('#{{ focus }}').effect("highlight", {}, 3000)
                {% endif %}
            })
        </script>

        <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" />
        <link href="{{ STATIC_URL }}css/main.css" type="text/css" rel="stylesheet" />

        {% block head %}
        {% endblock %}

        {% block head2 %}
        {% endblock %}

    </head>
    <body>
        <div id="top-bar">
            <div class="page-full-width cf">
                <ul id="nav" class="fl">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="#" class="round button dark menu-user image-left">Logged in as <strong>{{ user.first_name }}</strong></a>
                            <ul>
                                <li><a href="{% url user_self_detail %}">Profile</a></li>
                                <li><a href="{% url auth_password_change %}">Change Password</a></li>
                                <li><a href="{% url auth_logout %}?next={% url auth_login %}">Logout</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url auth_logout %}?next={% url auth_login %}" class="round button dark menu-logoff image-left">Logout</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url auth_login %}?next={% firstof request.path '/' %}" class="round button dark menu-user image-left">Log in</a>
                        </li>
                        <li>
                            <a href="{% url registration_register %}" class="round button dark ic-add image-left">Register</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li>
                            <a href="{% url admin:index %}" class="round button dark ic-settings image-left">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        {% block tabs %}
        {% endblock %}

        <div id="content">
            <div class="page-full-width cf">
                {% block side_menu %}
                {% endblock %}

                <div id="main_content" class="{% block main_content_class %}{% endblock %}">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="round {{ message.tags }}-box">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                    <ul id="breadcrumbs">
                        <li class="first">Where am I?</li>
                        {% block breadcrumbs %}
                        {% endblock %}
                    </ul>

                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>

        {% block main %}
        {% endblock %}

        <div id="footer">
            <p>
                &copy; Copyright 2012
                Satoshi Kawasaki and Tareq Dowla. All rights reserved.
            </p>
            <p>
                <strong>SimpleAdmin theme</strong> by <a href="http://www.adipurdila.com">Adi Purdila</a><br />
                <strong>Badoo Style pagination CSS</strong> by <a href="http://www.mis-algoritmos.com">Victor De la Rocha</a><br />
                <strong>Breadcrumbs CSS</strong> by <a href="http://veerle.duoh.com/">Veerle Pieters</a>
            </p>
        </div>
    </body>
</html>
