{% extends "base.html" %}

{% block title %}View user profile for {{ user_object.username }}{% endblock %}

{% block content %}
Username: {{ user_object.username }}<br />
First name: {{ user_object.first_name }}<br />
Last name: {{ user_object.last_name }}<br />
User types:
<ul>
    {% if user_object.profile.user_types.all %}
        {% for user_type in user_object.profile.user_types.all %}
            <li>{{ user_type.get_name_display|capfirst }}</li>
        {% endfor %}
    {% else %}
        <li>No user type</li>
    {% endif %}
</ul>
Phone: {{ user_object.profile.phone|default:"None" }}<br />
Room: {{ user_object.profile.room|default:"None" }}<br />
Floor: {{ user_object.profile.floor|default:"None" }}<br />
Building: {{ user_object.profile.building|default:"None" }}<br />
Property:
    {% if user_object.profile.place %}
        <a href="{% url places_detail pk=user_object.profile.place.pk %}">{{ user_object.profile.place.name }}</a>
    {% else %}
        None
    {% endif %}<br />
Comment count: {{ user_object.profile.comment_count }}<br />
<br />
Comment:<br />
<br />
{{ user_object.profile.comment|default:"None." }}
{% endblock %}
